language: generic
services:
- docker
before_install:
- docker build -t sonic306/docker-react -f Dockerfile.dev .
script:
- docker run -e CI=true sonic306/docker-react npm run test
deploy:
  provider: heroku
  app: docker-react123
  strategy: git
  api_key:
    secure: IMvFFHUoafqqqPMz2qsWuZAzHujpTwmUWx4LR2Qa9rPr/pIIomXCtFfpUTpP5q1+cv7uTeHXk/5Tck6BMcgy940KkrShAszBJgMY0/3S/7fO1N9pQuHF0suyzvpL2SKgnrW4mriUe6hfMtMDtZ0hXfWR27BgDP3BdXOecR//3ZtP+YYa5xW0mhhWB0/MJ8W6c1ldWrRtZUOLLj+3/tJ5bbHbSVP8CDxBRuoc/2njEorykmg0t4C80M9UvaMWGhdN2lBL0s3gQ1zcEr9O3RxGiOc3qEssheoGEzsKAqMGDa/W+Ow51FckzMEtFVcr3M26m1uCq9/qbb6BPIrriYADGnfuvs0mBx8RJCl4K4pOtuWLK/PJlpo+4zZqLgZcW3mbfo+un2Oxf6AXjjhNGgBp517nJ8N8JsaEPEoAUtKokXBwuAH8WKLpsjg1u2tudaENxSVhy83xxgFHgxHvPmV1wKdils3u/x1k/yjakyW8B1X+72CPjkW2EHgGVBPGFfwxcrhZ+Udo9QpXFFJPVAIgquV32uh3MyLwljmbSRBeBlRSTC/vDCIY4hCpKOYPlkI2l2CMjH8Xvw7jrOvIWllmFKhi5qFyZBqsEFcljqw2u0TaivucFNwP7YuMfAB+wU2sVgOljRhe9MRGBKiYc/KDU/7k3wxsTOkhXAcmI19HSmw=
  on:
    branch: main
