language: generic
services:
  - docker
before_install: 
  - docker build -t sonic306/docker-react -f Dockerfile.dev .
script:
  - docker run -e CI=true sonic306/docker-react npm run test

deploy:
  provider: heroku
  api_key:
    secure: $Heroku_Secure_Token
  app: sampleapplicaton
  on:
    branch: main
